.board {
    position: absolute;
    top: 0;
    left: 0;
    width: 800px;
    height: 800px;
    background-color: #eee;
    border: 2px solid rgba(0,0,0,.5);
    border-radius: 5px;
}

.snake {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #326934;
}

.food {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #900C3F;
}